@import 'src/assets/scss/mixin';

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  // text-align: center;
  // background: rgba(0, 0, 0, 0.05);
  // border-radius: 4px;
}
.nav-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doc-view-tabs {
  // align-self: flex-end;
  
  
  // text-align: center;
  // height: 65px;
  // display: flex;
  // align-items: center;
  // background-color: #ffffff;
  // box-shadow: 0px 0px 15px 0px rgba(25, 26, 27, 0.08);

  .ant-tabs-nav {
    margin-bottom: 0;
  }
}

.doc-view-header {
  justify-content: space-between;
  margin-bottom: 16px;
}



.pdf-card {
  width: 300px;
  cursor: pointer;
  .pdf-card-header-wrapper {
    display: flex;
    // border-bottom: 1px solid #F1F2F5;
    .pdf-card-header {
      display: flex;
      flex-direction: column;
      flex-shrink: 1 ;
      overflow: hidden;
      &__title {
        font-family: Noto Sans CJK TC;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        @include text-overflow();
        word-break: break-all;
        padding-right: 4px;
        margin-bottom: 4px;
      }
    }
  }

  .pdf-card-header-icon {
    flex-shrink: 0;
    margin-left: auto;
  }

  .updated-date {
    font-family: Noto Sans CJK TC;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #78797D;
    margin-bottom: 4px;
  }
}