@import 'src/assets/scss/mixin';

.pdf-card {
  width: 300px;
  cursor: pointer;
  .pdf-card-header-wrapper {
    display: flex;
    // border-bottom: 1px solid #F1F2F5;
    .pdf-card-header {
      display: flex;
      flex-direction: column;
      flex-shrink: 1 ;
      overflow: hidden;
      &__title {
        font-family: Noto Sans CJK TC;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        @include text-overflow();
        word-break: break-all;
        padding-right: 4px;
        margin-bottom: 4px;
      }
    }
  }

  .pdf-card-header-icon {
    flex-shrink: 0;
    margin-left: auto;
  }

  .updated-date {
    font-family: Noto Sans CJK TC;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #78797D;
    margin-bottom: 4px;
  }
}